.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }
  /* .Container{
    width: auto;
    margin: auto;
    width: 100%;
    height: 100%;
  } */
  mat-card {
    
    margin-bottom:90px;
    padding: 0;
    width: 100%;
  }
  .image{
    height: 50px;
    width: 50px;
  }
  