
<!-- <mat-sidenav-container> -->
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          
           <span>
            <mat-icon matSuffix color="flat">home</mat-icon>
            <a mat-button href="/">Training Summary Application</a>
            
        </span>
           <span class="spacer"></span>
           <a  mat-button  routerLink="/login">Login</a>
           <a  mat-button  routerLink="/register">Register</a>
           <!-- <a  mat-button  routerLink="/">Logout</a> -->
           
        </mat-toolbar-row>
        
     </mat-toolbar>
  <footer class="bg-light text-center text-lg-start">  
     <div class="text-center p-3" style="background-color: rgba(36, 62, 193, 0.516);">  
          © 2023 Copyright:
    <a class="text-dark" href="http://www.yash.com/">Yash Technologies</a>  

</div>  </footer>
<router-outlet></router-outlet>

